@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark1: rgb(19, 19, 19);
  --dark2: rgb(66, 66, 66);
  --dark3: rgb(114, 114, 114);
  --primary-1: rgb(255, 244, 231);
  --primary-2: rgb(255, 144, 14);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: var(--dark3);
}

/* Shared Style */
