@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark1: rgb(19, 19, 19);
  --dark2: rgb(66, 66, 66);
  --dark3: rgb(114, 114, 114);
  --primary-1: rgb(255, 244, 231);
  --primary-2: rgb(255, 144, 14);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--dark3);
}

/* Shared Style */
.display-flex {
  display: flex;
}

.btn {
  font-size: 1.8rem;
  color: #fff;
  background-color: var(--primary-2);
  padding: 2rem 2.5rem;
  border: none;
  border-radius: 0.8rem;
  margin-bottom: 5rem;
  margin-top: 3.2rem;
}

.main {
  width: 144rem;
  margin: 0 auto;
}

.navbar__brand {
  color: var(--dark1);
  font-size: 4.5rem;
  font-weight: 700;
}

.navbar__item {
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--dark2);
  margin-right: 3rem;
  font-weight: 500;
}

/* header style */
.header {
  background-color: var(--primary-1);
  padding-top: 6.3rem;
  padding-bottom: 4.5rem;
}

.navbar,
.banner {
  max-width: 144rem;
  margin: 0 auto;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

/* Banner style */

.banner__content {
  width: 85rem;
  margin: 0 auto;
  text-align: center;
}
.banner__heading {
  font-size: 6.4rem;
  color: var(--dark1);
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.banner__details {
  margin-bottom: 3.2rem;
}

.banner__image {
  width: 100%;
}

/* Team section start here */

.team {
  margin-top: 8.5rem;
  justify-content: space-between;
  align-items: center;
}

.team__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.team__content {
  max-width: 53.7rem;
}

.team__heading {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--dark1);
}

.list {
  color: rgb(114, 114, 114);
  font-weight: 500;
}

.team__features {
  color: var(--primary-2);
}

.team__details {
  margin-top: 2.4rem;
}


.facts{
  margin-top: 13rem;
}


.factcs__content{
  justify-content: space-around;
  margin-top: 10rem;
}

.facts__heading{
  margin-bottom: 2.4rem;
}

.facts__box{
  border: 1px solid rgb(255, 144, 14);
border-radius: 8px;
padding: 5rem 3.5rem;
text-align: center;
display: flex;
flex-direction: column;
gap:1rem;
justify-content: center;
align-items: center;
}
.facts__text{
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
}
